/**
 *
 * header variable settings
 *
 */
/*! grid.css @ 2017, yamoo9.net */
/**
 *
 * header variable settings
 *
 */
.show-grid {
  position: relative;
}

.show-grid::before,
.show-grid::after {
  content: '';
  position: absolute;
  top: 0;
  height: 1000vh;
}

.show-grid::before {
  z-index: 10000;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, transparent 20px, #0cf 20px);
  background-size: 1px 21px;
}

.show-grid::after {
  z-index: 10010;
  left: 50%;
  width: 1080px;
  background: linear-gradient(90deg, transparent 10px, rgba(251, 137, 137, 0.35) 10px, rgba(251, 137, 137, 0.35) 80px, transparent 80px);
  background-size: 90px 1px;
  transform: translateX(-50%);
}

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

.row.is-nesting > :first-child {
  margin-left: 0;
}

.row.is-nesting > :last-child {
  margin-right: 0;
}

.col {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.is-1 {
  width: 70px;
}

.is-offset-1 {
  margin-left: 100px;
}

.is-nesting .is-offset-1:first-child {
  margin-left: 90px;
}

.is-2 {
  width: 160px;
}

.is-offset-2 {
  margin-left: 190px;
}

.is-nesting .is-offset-2:first-child {
  margin-left: 180px;
}

.is-3 {
  width: 250px;
}

.is-offset-3 {
  margin-left: 280px;
}

.is-nesting .is-offset-3:first-child {
  margin-left: 270px;
}

.is-4 {
  width: 340px;
}

.is-offset-4 {
  margin-left: 370px;
}

.is-nesting .is-offset-4:first-child {
  margin-left: 360px;
}

.is-5 {
  width: 430px;
}

.is-offset-5 {
  margin-left: 460px;
}

.is-nesting .is-offset-5:first-child {
  margin-left: 450px;
}

.is-6 {
  width: 520px;
}

.is-offset-6 {
  margin-left: 550px;
}

.is-nesting .is-offset-6:first-child {
  margin-left: 540px;
}

.is-7 {
  width: 610px;
}

.is-offset-7 {
  margin-left: 640px;
}

.is-nesting .is-offset-7:first-child {
  margin-left: 630px;
}

.is-8 {
  width: 700px;
}

.is-offset-8 {
  margin-left: 730px;
}

.is-nesting .is-offset-8:first-child {
  margin-left: 720px;
}

.is-9 {
  width: 790px;
}

.is-offset-9 {
  margin-left: 820px;
}

.is-nesting .is-offset-9:first-child {
  margin-left: 810px;
}

.is-10 {
  width: 880px;
}

.is-offset-10 {
  margin-left: 910px;
}

.is-nesting .is-offset-10:first-child {
  margin-left: 900px;
}

.is-11 {
  width: 970px;
}

.is-offset-11 {
  margin-left: 1000px;
}

.is-nesting .is-offset-11:first-child {
  margin-left: 990px;
}

.is-12 {
  width: 1060px;
}

.is-offset-12 {
  margin-left: 1090px;
}

.is-nesting .is-offset-12:first-child {
  margin-left: 1080px;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.header {
  box-sizing: border-box;
  border-bottom: 3px solid #bd1d31;
}

.header .header-inner {
  box-sizing: border-box;
  height: 186px;
  padding-top: 42px;
}

.logo {
  display: block;
}

.logo .img-box {
  width: 172px;
}

.logo img {
  width: 100%;
  height: auto;
}

.search {
  height: 42px;
  padding-top: 10.5px;
  box-sizing: content-box;
  position: relative;
}

.search fieldset {
  border: 0 none;
  padding: 0;
}

.search input[type="text"] {
  padding: 0 20px;
  margin-left: -22px;
  width: 100%;
  height: 38px;
  border: 2px solid #181818;
  font-family: "NanumSquareOTFEB";
}

.search .search-btn {
  display: block;
  position: absolute;
  z-index: 999;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 5.25px 0 0 0;
  border: 0 none;
  width: 40px;
  height: 40px;
  background: url("../images/header/search_icon.png") no-repeat;
  background-position: center center;
  cursor: pointer;
}

.user-info {
  margin-top: 21px;
}

.user-info ul {
  box-sizing: border-box;
  position: relative;
  list-style: none;
  padding-left: 0;
}

.user-info ul.row, .user-info ul.col {
  margin-top: 0;
  margin-left: 0;
}

.user-info ul:not(.row), .user-info ul:not(.col) {
  margin: 0;
}

.user-info ul::after {
  content: "";
  display: block;
  clear: both;
}

.user-info li {
  float: left;
  margin-left: 20px;
  box-sizing: border-box;
}

.user-info li:first-child {
  margin-left: 0;
  width: calc(4em + 22px);
}

.user-info a {
  text-decoration: none;
  box-sizing: border-box;
  color: #991717;
  padding: 5px 11px;
  border-radius: 2px;
  letter-spacing: -0.03em;
}

.user-info a:hover, .user-info a:focus {
  border: 1px solid #bf1d1d;
}

.navigation {
  position: relative;
  top: -8px;
  margin-top: 40px;
}

.navigation ul {
  list-style: none;
  padding-left: 0;
}

.navigation ul.row, .navigation ul.col {
  margin-top: 0;
  margin-left: 0;
}

.navigation ul:not(.row), .navigation ul:not(.col) {
  margin: 0;
}

.navigation ul::after {
  content: "";
  display: block;
  clear: both;
}

.navigation li {
  float: left;
  margin-right: 28px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  color: #333;
  padding: 7px 15px;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 1.1rem;
}

.navigation a:hover, .navigation a:focus {
  color: #fff;
  background: #bd1d31;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.filter {
  line-height: 42px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 42px;
  background: #ddd;
  overflow: hidden;
  transition: height 1s;
  z-index: 999;
}

.filter .filter-btn {
  display: block;
  color: #991717;
  cursor: pointer;
}

.filter .filter-btn span {
  position: relative;
  top: 2px;
  display: inline-block;
  box-sizing: content-box;
  width: 20px;
  height: 16px;
  margin-right: 6px;
  background: url("../images/icons/icons.png") no-repeat;
  background-position: 0 -61px;
  background-size: cover;
}

.filter-content {
  line-height: 1.5;
  text-align: left;
}

.filter-content fieldset {
  border: none;
  padding: 0;
}

.filter-content fieldset.row, .filter-content fieldset.col {
  margin-top: 0;
  margin-left: 0;
}

.filter-content fieldset:not(.row), .filter-content fieldset:not(.col) {
  margin: 0;
}

.filter-content .title {
  line-height: 21px;
}

.filter-content .title span {
  color: #333;
  font-size: 1.8rem;
}

.filter-content .filter-list {
  list-style: none;
  padding-left: 0;
  margin-left: -20px;
}

.filter-content .filter-list.row, .filter-content .filter-list.col {
  margin-top: 0;
  margin-left: 0;
}

.filter-content .filter-list:not(.row), .filter-content .filter-list:not(.col) {
  margin: 0;
}

.filter-content .filter-list::after {
  content: "";
  display: block;
  clear: both;
}

.filter-content .filter-list li {
  float: left;
  margin-right: 10px;
}

.filter-content .filter-list li:last-child {
  margin-right: 0;
}

.filter-content .filter-list li input[type="checkbox"]:checked ~ label {
  background: #991717;
}

.filter-content .filter-list li label {
  padding: 4px 23px;
  background: #aaa;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-content .age, .filter-content .style {
  margin-top: 21px;
}

.btn-box {
  margin-left: -30px;
  margin-top: 44.625px;
  margin-bottom: 21px;
}

.btn-box button {
  border: none;
  padding: 0;
  padding: 8px 22px;
  margin-right: 10px;
  font-size: 1.5rem;
  border-radius: 15.5px;
  background: #aaa;
  color: #fff;
  cursor: pointer;
  font-family: "NanumSquareOTF";
}

.btn-box button.row, .btn-box button.col {
  margin-top: 0;
  margin-left: 0;
}

.btn-box button:not(.row), .btn-box button:not(.col) {
  margin: 0;
}

.btn-box button:last-child {
  margin-right: 0;
}

.btn-box button:hover {
  background: #bd1d31;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.main {
  position: relative;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.banner {
  position: relative;
  padding-top: 84px;
}

.banner .banner-view {
  height: 441px;
  box-sizing: border-box;
}

.banner .banner-view img {
  width: 100%;
  height: auto;
}

.banner .anchor-box {
  left: 50%;
  bottom: -36.25px;
  transform: translateX(-50%);
  position: absolute;
}

.banner .anchor-box::after {
  content: "";
  display: block;
  clear: both;
}

.banner .anchor-box span {
  float: left;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.banner .anchor-box span:last-child {
  margin-right: 0;
}

.banner .anchor-box span.actived-achor-btn {
  background: #bd1d31;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.best-seller {
  margin-top: 63px;
}

.best-seller-list {
  list-style: none;
  padding-left: 0;
}

.best-seller-list.row, .best-seller-list.col {
  margin-top: 0;
  margin-left: 0;
}

.best-seller-list:not(.row), .best-seller-list:not(.col) {
  margin: 0;
}

.best-seller-list a {
  display: block;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 20px;
}

.best-seller-list a:hover, .best-seller-list a:focus {
  border: 2px solid #bd1d31;
}

.best-seller-list figure {
  margin: 0;
  height: 273px;
}

.best-seller-list .img-box {
  height: 210px;
}

.best-seller-list .img-box img {
  display: inline-block;
}

.best-seller-list figcaption {
  margin-top: 11.5px;
  text-align: left;
  color: #666;
}

.best-seller-list figcaption strong {
  display: block;
  color: #333;
}

.best-seller-list .price_like {
  margin-top: 21px;
  height: 21px;
  line-height: 21px;
  position: relative;
}

.best-seller-list .price_like .price {
  color: #991717;
  font-size: 1.8rem;
}

.best-seller-list .price_like .like-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url("../images/icons/icons.png");
  background-size: cover;
  background-position: 0 -106px;
  cursor: pointer;
}

.best-seller-list .price_like .like-btn.row, .best-seller-list .price_like .like-btn.col {
  margin-top: 0;
  margin-left: 0;
}

.best-seller-list .price_like .like-btn:not(.row), .best-seller-list .price_like .like-btn:not(.col) {
  margin: 0;
}

.best-seller-list .price_like .like-btn.like-actived {
  background-position: 0 -85px;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.brand {
  margin-top: 42px;
}

.brand .brand-heading {
  margin-top: 0;
}

.brand .brand-group {
  position: relative;
  height: 147px;
}

.brand-list {
  list-style: none;
  padding-left: 0;
}

.brand-list.row, .brand-list.col {
  margin-top: 0;
  margin-left: 0;
}

.brand-list:not(.row), .brand-list:not(.col) {
  margin: 0;
}

.brand-list li {
  float: left;
}

.brand-list a {
  display: block;
  position: relative;
  z-index: 999;
  box-sizing: border-box;
  height: 147px;
}

.brand-list a:hover, .brand-list a:focus {
  border: 2px solid #bd1d31;
}

.brand-list a:hover .brand-like-box,
.brand-list a:focus .brand-like-box {
  bottom: -2px;
}

.brand-list .title, .brand-list .brand-like-box {
  position: absolute;
}

.brand-list .title {
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px -1px #ddd;
  letter-spacing: -0.03em;
}

.brand-list .brand-like-box {
  width: 100%;
  bottom: 0;
  height: 21px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.brand-list .brand-like-box span {
  display: inline-block;
  padding-left: 9px;
  color: #fff;
}

.brand-list .brand-like-box .brand-like-btn {
  border: none;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url("../images/icons/icons.png");
  background-size: cover;
  background-position: 0 -106px;
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
}

.brand-list .brand-like-box .brand-like-btn.row, .brand-list .brand-like-box .brand-like-btn.col {
  margin-top: 0;
  margin-left: 0;
}

.brand-list .brand-like-box .brand-like-btn:not(.row), .brand-list .brand-like-box .brand-like-btn:not(.col) {
  margin: 0;
}

.brand-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.brand-btn button {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 100%;
  border: 1px solid #ddd;
  background-size: cover;
  cursor: pointer;
}

.brand-btn button.left {
  left: -20px;
  background: url("../images/icons/arrow-l.png") no-repeat, #f0f0f0;
  background-position: center, center;
}

.brand-btn button.right {
  right: -20px;
  background: url("../images/icons/arrow-r.png") no-repeat, #f0f0f0;
  background-position: center, center;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.brandnew {
  margin-top: 42px;
}

.brandnew-list {
  list-style: none;
  padding-left: 0;
}

.brandnew-list.row, .brandnew-list.col {
  margin-top: 0;
  margin-left: 0;
}

.brandnew-list:not(.row), .brandnew-list:not(.col) {
  margin: 0;
}

.brandnew-list a {
  display: block;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 21px;
}

.brandnew-list a:hover, .brandnew-list a:focus {
  border: 2px solid #bd1d31;
}

.brandnew-list figure {
  margin: 0;
  height: 294px;
}

.brandnew-list .img-box {
  height: 231px;
}

.brandnew-list .img-box img {
  display: inline-block;
}

.brandnew-list figcaption {
  margin-top: 21px;
  text-align: left;
  color: #666;
}

.brandnew-list figcaption strong {
  display: block;
  color: #333;
}

.brandnew-list .price_like {
  margin-top: 21px;
  height: 21px;
  line-height: 21px;
  position: relative;
}

.brandnew-list .price_like .price {
  color: #991717;
  font-size: 1.8rem;
}

.brandnew-list .price_like .like-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url("../images/icons/icons.png");
  background-size: cover;
  background-position: 0 -106px;
  cursor: pointer;
}

.brandnew-list .price_like .like-btn.row, .brandnew-list .price_like .like-btn.col {
  margin-top: 0;
  margin-left: 0;
}

.brandnew-list .price_like .like-btn:not(.row), .brandnew-list .price_like .like-btn:not(.col) {
  margin: 0;
}

.brandnew-list .price_like .like-btn.like-actived {
  background-position: 0 -85px;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.tip {
  margin-top: 42px;
}

.tip .tip-group {
  position: relative;
}

.tip .anchor-box {
  position: absolute;
  right: 10px;
  top: -36.75px;
}

.tip .anchor-box::after {
  content: "";
  display: block;
  clear: both;
}

.tip .anchor-box span {
  float: left;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.tip .anchor-box span:last-child {
  margin-right: 0;
}

.tip .anchor-box span.actived-achor-btn {
  background: #bd1d31;
}

.tip-list {
  list-style: none;
  padding-left: 0;
}

.tip-list.row, .tip-list.col {
  margin-top: 0;
  margin-left: 0;
}

.tip-list:not(.row), .tip-list:not(.col) {
  margin: 0;
}

.tip-list a {
  display: block;
  z-index: 999;
  height: 231px;
}

.tip-list a:hover, .tip-list a:focus {
  border: 2px solid #bd1d31;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.best-review {
  margin-top: 42px;
  box-sizing: border-box;
}

.best-review-list {
  list-style: none;
  padding-left: 0;
}

.best-review-list.row, .best-review-list.col {
  margin-top: 0;
  margin-left: 0;
}

.best-review-list:not(.row), .best-review-list:not(.col) {
  margin: 0;
}

.best-review-list a {
  display: block;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 20px;
}

.best-review-list a:hover, .best-review-list a:focus {
  border: 2px solid #bd1d31;
}

.best-review-list figure {
  margin: 0;
  height: 210px;
}

.best-review-list .img-box {
  height: 126px;
}

.best-review-list .img-box img {
  display: inline-block;
}

.best-review-list figcaption {
  margin-top: 21px;
  text-align: left;
  color: #666;
}

.best-review-list figcaption strong {
  display: block;
  color: #333;
}

.best-review-list .price_like {
  margin-top: 21px;
  height: 21px;
  line-height: 21px;
  position: relative;
}

.best-review-list .price_like .price {
  color: #991717;
  font-size: 1.8rem;
}

.best-review-list .price_like .like-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url("../images/icons/icons.png");
  background-size: cover;
  background-position: 0 -106px;
  cursor: pointer;
}

.best-review-list .price_like .like-btn.row, .best-review-list .price_like .like-btn.col {
  margin-top: 0;
  margin-left: 0;
}

.best-review-list .price_like .like-btn:not(.row), .best-review-list .price_like .like-btn:not(.col) {
  margin: 0;
}

.best-review-list .price_like .like-btn.like-actived {
  background-position: 0 -85px;
}

.best-review-list .gpa {
  margin-top: 21px;
  height: 21px;
  text-align: center;
}

.best-review-list .gpa span {
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url("../images/icons/icons.svg") no-repeat;
  background-size: cover;
  background-position: 0 -168px;
  cursor: pointer;
}

.best-review-list .gpa span.actived-gpa-btn {
  background-position: 0 -151px;
}

/**
 *
 * header variable settings
 *
 */
.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.search legend, .search label, .filter #filter-descript, .filter-content legend, .filter-content .filter-list li input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.brand-list img, .brandnew-list .img-box img, .tip-list img, .best-review-list .img-box img {
  width: 100%;
  height: auto;
}

.best-seller .best-seller-heading, .brand .brand-heading, .brandnew .brandnew-heading, .tip .tip-heading, .best-review .best-review-heading {
  color: #333;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 2.1rem;
  height: 21px;
  line-height: 1;
}

.footer {
  margin-top: 42px;
}

.footer-user-info {
  background-color: #555;
  height: 42px;
}

.footer-user-info-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10.5px;
  margin-bottom: 0;
}

.footer-user-info-list::after {
  content: "";
  display: block;
  clear: both;
}

.footer-user-info-list li {
  float: left;
}

.footer-user-info-list li:last-child a::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 1px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #aaa;
}

.footer-user-info-list a {
  padding: 5px 40px;
  color: #aaa;
  position: relative;
  border-radius: 2px;
}

.footer-user-info-list a:hover, .footer-user-info-list a:focus {
  background: #fff;
  color: #aaa;
}

.footer-user-info-list a::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #aaa;
}

.footer-contents {
  margin-top: 42px;
  position: relative;
}

.company-info {
  list-style: none;
  padding-left: 0;
}

.company-info::after {
  content: "";
  display: block;
  clear: both;
}

.company-info.row, .company-info.col {
  margin-top: 0;
  margin-left: 0;
}

.company-info:not(.row), .company-info:not(.col) {
  margin: 0;
}

.company-info li {
  float: left;
  margin-right: 20px;
}

.company-info span {
  color: #333;
  line-height: 21px;
  font-size: 1.2rem;
  letter-spacing: -0.03em;
}

.company-info span strong {
  font-weight: bold;
  padding-right: 5px;
}

.copyright {
  height: 21px;
}

.copyright p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 21px;
}

.sns-list {
  margin-top: 21px;
}

.sns-list ul {
  list-style: none;
  padding-left: 0;
  height: 42px;
}

.sns-list ul.row, .sns-list ul.col {
  margin-top: 0;
  margin-left: 0;
}

.sns-list ul:not(.row), .sns-list ul:not(.col) {
  margin: 0;
}

.sns-list li {
  float: left;
  margin-right: 5px;
  position: relative;
  top: 10.5px;
}

.sns-list li a.webchat {
  background: #2dc100;
}

.sns-list li a.taobao {
  background: #e8741f;
}

.sns-list li a.facebook {
  background: #475993;
}

.sns-list li a.weibo {
  background: #f29600;
}

.sns-list li:nth-child(5) {
  border: 1px solid #aaa;
  border-radius: 2px;
}

.sns-list li:nth-child(5):hover, .sns-list li:nth-child(5):focus {
  background: linear-gradient(to bottom, #8121b3 10%, #c43062 50%, #d88341 90%);
  border: none;
}

.sns-list li:last-child {
  margin-left: 20px;
}

.sns-list a {
  box-sizing: border-box;
  display: block;
  border-radius: 2px;
  text-align: center;
}

.sns-list a.square {
  width: 26px;
  height: 26px;
}

.sns-list a img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  position: relative;
}

.sns-list a img.center-img {
  top: 50%;
  transform: translateY(-50%);
}

.cs .cs-title {
  margin: 0;
  font-size: 1.8rem;
  line-height: 21px;
}

.cs .tel {
  display: block;
  height: 42px;
  line-height: 42px;
  color: #bd1d31;
  font-size: 2.1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.cs .cs-time {
  list-style: none;
  padding-left: 0;
}

.cs .cs-time.row, .cs .cs-time.col {
  margin-top: 0;
  margin-left: 0;
}

.cs .cs-time:not(.row), .cs .cs-time:not(.col) {
  margin: 0;
}

.cs .cs-time li {
  height: 21px;
  line-height: 21px;
  font-size: 1.2rem;
}

/*# sourceMappingURL=../map/stylesheet.css.map */