/*! grid.css @ 2017, yamoo9.net */
@import 'rwd-settings';

// Toggle Grid Module
// 브라우저 뷰에 그리드 가이드를 토글(보임/감춤)하는 스타일 모듈
// .show-grid
.#{$toggle-classname} {
  // width: calc(100% / #{$tablet-columns} - #{$tablet-gutter-width});
  position: relative; 
}
.#{$toggle-classname}::before,
.#{$toggle-classname}::after {
  content: '';
  position: absolute;
  top: 0;
  height: $guide-height;
}
.#{$toggle-classname}::before {
  // 지역 변수
  $leading-limit: $leading - 1;

  z-index: 10000;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    transparent $leading-limit,
    #0cf $leading-limit
  );
  background-size: 1px $leading;
}
.#{$toggle-classname}::after {
  left: 50%;
  transform: translateX(-50%);
  z-index: 10010;
}
// Container Module
// 그리드 요소들을 감싸는 블록(Block)
// .container
.container {
  // width: $page-width;
  margin-left: auto;
  margin-right: auto;
}

// Row Module
// 컬럼을 감싸는 로우(행) 모듈
// .row
.row {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  // Nesting Row Module
  // 중첩 로우(행) 모듈
  // .row.is-nesting
  &.is-nesting {
    & > :first-child { margin-left: 0; }
    & > :last-child { margin-right: 0; }
  }
}



// Column Module
// 컬럼(열) 모듈
// .col.is-*
.col {
  float: left;
}


// moblie 
@include breakpoint(0, 469px) {
  .container {
    width: $mobile-page-width;
    
  }
  .col {
    margin-left: $mobile-half-gutter-width;
    margin-right: $mobile-half-gutter-width;
  }
  .#{$toggle-classname}::after {
    // padding: 0 10px;
    $full-width: calc(#{$mobile-column-width} + #{$mobile-gutter-width});
    width: $mobile-page-width;
    background: linear-gradient(
      90deg,
      transparent $mobile-half-gutter-width,
      $column-color $mobile-half-gutter-width,
      $column-color $full-width
    );
    background-size: $full-width 1px;
  }  


  @for $i from 1 through $mobile-columns {
    .is-#{$i}  {
      width: column-width(mobile, $i);
    }
    // Offeset Module
    // 컬럼 핸들링 모듈
    // .is-offset-*
    .is-offset-#{$i} {
      $offset-width: offset-width(mobile, $i);
      margin-left: $offset-width;
      .is-nesting &:first-child {
        margin-left: $offset-width - $mobile-half-gutter-width;
      }
    }
  }
}
// tablet
@include breakpoint(470px, 1199px) {
  .container {
    width: $tablet-page-width;
  }

  .col {
    margin-left: $tablet-half-gutter-width;
    margin-right: $tablet-half-gutter-width;
  }
  
  .#{$toggle-classname}::after {
    $full-width: calc(#{$tablet-column-width} + #{$tablet-gutter-width});
    width: $tablet-page-width;
    background: linear-gradient(
      90deg,
      transparent $tablet-half-gutter-width,
      $column-color $tablet-half-gutter-width,
      $column-color $full-width
    );
    background-size: $full-width 1px;
  }  

  @for $i from 1 through $tablet-columns {
    .is-#{$i}  {
      width: column-width(tablet, $i);
    }
    // Offeset Module
    // 컬럼 핸들링 모듈
    // .is-offset-*
    .is-offset-#{$i} {
      $offset-width: offset-width(tablet, $i);
      margin-left: $offset-width;
      .is-nesting &:first-child {
        margin-left: $offset-width - $tablet-half-gutter-width;
      }
    }
  }
}
// desktop
@include breakpoint(1200px) {
  .container {  
    width: $desktop-page-width;
  }
  .col {
    margin-left: $desktop-half-gutter-width;
    margin-right: $desktop-half-gutter-width;
  }
  .#{$toggle-classname}::after {
    $full-width: $desktop-column-width + $desktop-gutter-width;
    width: $desktop-page-width;
    background: linear-gradient(
      90deg,
      transparent $desktop-half-gutter-width,
      $column-color $desktop-half-gutter-width,
      $column-color $full-width,
      transparent $full-width
    );
    background-size: $full-width 1px;
  }  

  @for $i from 1 through $desktop-columns {
    .is-#{$i}  {
      width: column-width(desktop, $i);
    }
    // Offeset Module
    // 컬럼 핸들링 모듈
    // .is-offset-*
    .is-offset-#{$i} {
      $offset-width: offset-width(desktop, $i);
      margin-left: $offset-width;
      .is-nesting &:first-child {
        margin-left: $offset-width - $desktop-half-gutter-width;
      }
    }
  }
}

// @for $i from 1 through $desktop-columns {
//   .is-#{$i}  {
//     width: column-width(desktop, $i);
//   }
//   // Offeset Module
//   // 컬럼 핸들링 모듈
//   // .is-offset-*
//   .is-offset-#{$i} {
//     $offset-width: offset-width(desktop, $i);
//     margin-left: $offset-width;
//     .is-nesting &:first-child {
//       margin-left: $offset-width - $desktop-half-gutter-width;
//     }
//   }


// Utilities Module
// 유틸리티 모듈
// .isolate
// .hidden
// .a11y-hidden