@charset "utf-8";

html, body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.4rem;
    color: #181818;
    font-family: "Khula", sans-serif;
}
a{
    text-decoration: none;
    font-family: "Khula", sans-serif;
}
$content-width: 1025px;
$font-pos-top: 5px;
.header{
    box-sizing: border-box;
    width: $content-width;
    padding: 0 40px;
    margin: 0 auto;
    .header-inner{
        height: 95px;
        position: relative;
        border-bottom: 5px solid #181818;
    }

    .logo{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 110px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);

        img{
            display: block;
            width: 100%;
        }
    }

    .gnb{
        margin: 0;
        padding-left: 0;
        list-style: none;
        position: absolute;
        right: 60px;

        &::after{
            content: "";
            display: table;
            clear: both;
        }
    }
    .gnb > li{
        float: left;
        position: relative;
        &:nth-child(6){
            ul{
                display: block;
                left: -200px;
            }
        }
        &:nth-child(4){
            ul{
                left: -200px;
            }
        }
        &:nth-child(5){
            ul{
                left: -270px;       
            }
        }
    }
    .gnb > li > a{
        color: #181818;
        font-size: 1.9rem;
        font-weight: bold;
        display: block;
        padding: 0 13px;
        line-height: 95px + $font-pos-top;
    }
    .submenu{
        display: none;
        margin: 0;
        padding-left: 0;
        list-style: none;
        position: absolute;
        top: 100px;
        height: 50px;
        white-space: nowrap;

        &::after{
            content: "";
            display: table;
            clear: both;
        }
        li{
            display: inline-block;
            padding: 0 13px;
            
            &:first-child{
                padding-left: 0;
            }
            
        }
        a{
            color: #aaa;
            font-size: 1.4rem;
            display: block;
            line-height: 50px;
            
            &:hover{
                color: #181818; 
            }
        }
        
    }
    
    
    .cart{
        position: absolute;
        width: 28px;
        height: 28px; 
        background-color: #181818;
        text-align: center;
        line-height: 28px + $font-pos-top;
        border-radius: 50%;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
} 
