/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  color: #181818;
  font-family: "Khula", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Khula", sans-serif;
}

body .header {
  box-sizing: border-box;
  max-width: 1025px;
  padding: 0 40px;
  margin: 0 auto;
}

body .header .header-inner {
  height: 90px;
  position: relative;
  border-bottom: 5px solid #181818;
}

body .header .logo {
  position: absolute;
  width: 110px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
}

body .header .logo img {
  display: block;
  width: 100%;
}

body .header .gnb > li > a {
  color: #181818;
  font-size: 1.9rem;
  font-weight: bold;
  display: block;
}

body .header .mobile-menubtn {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  padding: 15px;
  width: 60px;
  height: 50px;
}

body .header .mobile-menubtn span {
  display: block;
  width: 100%;
  height: 5px;
  background: #000;
  margin-bottom: 5px;
}

body .cart {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #181818;
  text-align: center;
  line-height: 33px;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

@media screen and (max-width: 1024px) {
  body .header .logo {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes menu-ani {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(-50px);
    }
  }
  body .header nav.visible {
    display: block;
    animation: menu-ani .5s forwards;
  }
  body .header nav {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 125px;
    width: 230px;
    opacity: 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px 1px #eee;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    transition: all .5s;
  }
  body .header nav .gnb ul {
    display: none;
  }
  body .header nav .gnb a {
    display: block;
    font-size: 2rem;
    color: #181818;
    padding: 10px 0 10px 15px;
  }
  body .header nav .gnb a:hover {
    background: #f2f2f1;
  }
  body .header .mobile-menubtn {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  body .header .header-inner {
    height: 95px;
  }
  body .header nav {
    height: 95px;
    position: relative;
  }
  body .header .gnb {
    padding-left: 343px;
  }
  body .header .gnb::after {
    content: "";
    display: table;
    clear: both;
  }
  body .header .gnb > li {
    float: left;
  }
  body .header .gnb > li > a {
    padding: 0 13px;
    line-height: 100px;
  }
  body .header .gnb > li:nth-child(1) > a {
    padding-left: 0;
  }
  body .header .gnb > li:nth-child(1) ul {
    padding-left: 280px;
  }
  body .header .gnb > li:nth-child(2) ul {
    padding-left: 280px;
  }
  body .header .gnb > li:nth-child(3) ul {
    padding-left: 440px;
  }
  body .header .gnb > li:nth-child(4) ul {
    padding-left: 330px;
  }
  body .header .gnb > li:nth-child(5) ul {
    padding-left: 430px;
  }
  body .header .gnb > li:nth-child(5) ul a {
    font-weight: bold;
    letter-spacing: -0.12em;
  }
  body .header .gnb > li:nth-child(6) ul {
    padding-left: 510px;
  }
  @keyframes submenu-ani {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes submenu-li-ani {
    from {
      left: 0;
    }
    to {
      left: 50px;
    }
  }
  body .header .gnb > li:hover .submenu {
    display: block;
    animation: submenu-ani 1s forwards;
  }
  body .header .submenu {
    box-sizing: border-box;
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 50px;
    opacity: 0;
    white-space: nowrap;
    border-bottom: 2px solid #181818;
  }
  body .header .submenu::after {
    content: "";
    display: table;
    clear: both;
  }
  body .header .submenu li {
    position: relative;
    display: inline-block;
    padding: 0 13px;
  }
  body .header .submenu li:first-child {
    padding-left: 0;
  }
  body .header .submenu a {
    color: #aaa;
    font-size: 1.4rem;
    display: block;
    line-height: 50px;
  }
  body .header .submenu a:hover {
    color: #181818;
  }
}

/*# sourceMappingURL=drjart.css.map */