// 스크린에서는 보이지 않지만 리더기에서는 읽을 수 있음.
%a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: -1px;
}

%clearfix {
    content: "";
    display: block;
    clear: both;
}