@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}

html, body {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #181818;
}

.show-grid {
  position: relative;
}

.show-grid::before,
.show-grid::after {
  content: '';
  position: absolute;
  top: 0;
  height: 1000vh;
  transition: all 0.5s;
}

.show-grid::before {
  background: linear-gradient(180deg, transparent 19px, #cf0 19px);
  background-size: 1px 20px;
}

@media screen and (max-width: 480px) {
  .show-grid::before {
    min-width: 310px;
    left: 50%;
    transform: translateX(-50%);
  }
  .show-grid::after {
    min-width: 310px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, transparent 10px, rgba(251, 137, 137, 0.35) 10px, rgba(251, 137, 137, 0.35) calc(100% - 10px), transparent calc(100% - 10px));
    background-size: 12.5% 1px;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .show-grid::before {
    width: 524px;
    left: 50%;
    transform: translateX(-50%);
  }
  .show-grid::after {
    width: 524px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, transparent 10px, rgba(251, 137, 137, 0.35) 10px, rgba(251, 137, 137, 0.35) calc(100% - 10px), transparent calc(100% - 10px));
    background-size: 12.5% 1px;
  }
}

@media screen and (min-width: 721px) {
  .show-grid::before {
    width: 940px;
    left: 50%;
    transform: translateX(-50%);
  }
  .show-grid::after {
    width: 940px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, transparent 10px, rgba(251, 137, 137, 0.35) 10px, rgba(251, 137, 137, 0.35) 75.33333px, transparent 75.33333px);
    background-size: 85.33333px 1px;
    transform: translateX(-50%);
  }
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

.row.is-nesting > :first-child {
  margin-left: 0;
}

.row.is-nesting > :last-child {
  margin-right: 0;
}

.col {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .container {
    min-width: 310px;
    margin: 0 auto;
  }
  .is-mobile-1 {
    width: calc(calc(100% / 8 - 20px) * 1 + 20px * (1 - 1));
  }
  .is-mobile-offset-1 {
    margin-left: calc(calc(100% / 8 - 20px) * 1 + 20px * (1 - 1) + (20px + 10px));
  }
  .is-nesting .is-mobile-offset-1:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 1 + 20px * (1 - 1) + (20px + 10px)) - 10px);
  }
  .is-mobile-2 {
    width: calc(calc(100% / 8 - 20px) * 2 + 20px * (2 - 1));
  }
  .is-mobile-offset-2 {
    margin-left: calc(calc(100% / 8 - 20px) * 2 + 20px * (2 - 1) + (20px + 10px));
  }
  .is-nesting .is-mobile-offset-2:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 2 + 20px * (2 - 1) + (20px + 10px)) - 10px);
  }
  .is-mobile-3 {
    width: calc(calc(100% / 8 - 20px) * 3 + 20px * (3 - 1));
  }
  .is-mobile-offset-3 {
    margin-left: calc(calc(100% / 8 - 20px) * 3 + 20px * (3 - 1) + (20px + 10px));
  }
  .is-nesting .is-mobile-offset-3:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 3 + 20px * (3 - 1) + (20px + 10px)) - 10px);
  }
  .is-mobile-4 {
    width: calc(calc(100% / 8 - 20px) * 4 + 20px * (4 - 1));
  }
  .is-mobile-offset-4 {
    margin-left: calc(calc(100% / 8 - 20px) * 4 + 20px * (4 - 1) + (20px + 10px));
  }
  .is-nesting .is-mobile-offset-4:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 4 + 20px * (4 - 1) + (20px + 10px)) - 10px);
  }
  .is-mobile-5 {
    width: calc(calc(100% / 8 - 20px) * 5 + 20px * (5 - 1));
  }
  .is-mobile-offset-5 {
    margin-left: calc(calc(100% / 8 - 20px) * 5 + 20px * (5 - 1) + (20px + 10px));
  }
  .is-nesting .is-mobile-offset-5:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 5 + 20px * (5 - 1) + (20px + 10px)) - 10px);
  }
  .is-mobile-6 {
    width: calc(calc(100% / 8 - 20px) * 6 + 20px * (6 - 1));
  }
  .is-mobile-offset-6 {
    margin-left: calc(calc(100% / 8 - 20px) * 6 + 20px * (6 - 1) + (20px + 10px));
  }
  .is-nesting .is-mobile-offset-6:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 6 + 20px * (6 - 1) + (20px + 10px)) - 10px);
  }
  .is-mobile-7 {
    width: calc(calc(100% / 8 - 20px) * 7 + 20px * (7 - 1));
  }
  .is-mobile-offset-7 {
    margin-left: calc(calc(100% / 8 - 20px) * 7 + 20px * (7 - 1) + (20px + 10px));
  }
  .is-nesting .is-mobile-offset-7:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 7 + 20px * (7 - 1) + (20px + 10px)) - 10px);
  }
  .is-mobile-8 {
    width: calc(calc(100% / 8 - 20px) * 8 + 20px * (8 - 1));
  }
  .is-mobile-offset-8 {
    margin-left: calc(calc(100% / 8 - 20px) * 8 + 20px * (8 - 1) + (20px + 10px));
  }
  .is-nesting .is-mobile-offset-8:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 8 + 20px * (8 - 1) + (20px + 10px)) - 10px);
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .container {
    max-width: 524px;
    margin: 0 auto;
  }
  .is-tablet-1 {
    width: calc(calc(100% / 8 - 20px) * 1 + 20px * (1 - 1));
  }
  .is-tablet-offset-1 {
    margin-left: calc(calc(100% / 8 - 20px) * 1 + 20px * (1 - 1) + (20px + 10px));
  }
  .is-nesting .is-tablet-offset-1:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 1 + 20px * (1 - 1) + (20px + 10px)) - 10px);
  }
  .is-tablet-2 {
    width: calc(calc(100% / 8 - 20px) * 2 + 20px * (2 - 1));
  }
  .is-tablet-offset-2 {
    margin-left: calc(calc(100% / 8 - 20px) * 2 + 20px * (2 - 1) + (20px + 10px));
  }
  .is-nesting .is-tablet-offset-2:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 2 + 20px * (2 - 1) + (20px + 10px)) - 10px);
  }
  .is-tablet-3 {
    width: calc(calc(100% / 8 - 20px) * 3 + 20px * (3 - 1));
  }
  .is-tablet-offset-3 {
    margin-left: calc(calc(100% / 8 - 20px) * 3 + 20px * (3 - 1) + (20px + 10px));
  }
  .is-nesting .is-tablet-offset-3:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 3 + 20px * (3 - 1) + (20px + 10px)) - 10px);
  }
  .is-tablet-4 {
    width: calc(calc(100% / 8 - 20px) * 4 + 20px * (4 - 1));
  }
  .is-tablet-offset-4 {
    margin-left: calc(calc(100% / 8 - 20px) * 4 + 20px * (4 - 1) + (20px + 10px));
  }
  .is-nesting .is-tablet-offset-4:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 4 + 20px * (4 - 1) + (20px + 10px)) - 10px);
  }
  .is-tablet-5 {
    width: calc(calc(100% / 8 - 20px) * 5 + 20px * (5 - 1));
  }
  .is-tablet-offset-5 {
    margin-left: calc(calc(100% / 8 - 20px) * 5 + 20px * (5 - 1) + (20px + 10px));
  }
  .is-nesting .is-tablet-offset-5:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 5 + 20px * (5 - 1) + (20px + 10px)) - 10px);
  }
  .is-tablet-6 {
    width: calc(calc(100% / 8 - 20px) * 6 + 20px * (6 - 1));
  }
  .is-tablet-offset-6 {
    margin-left: calc(calc(100% / 8 - 20px) * 6 + 20px * (6 - 1) + (20px + 10px));
  }
  .is-nesting .is-tablet-offset-6:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 6 + 20px * (6 - 1) + (20px + 10px)) - 10px);
  }
  .is-tablet-7 {
    width: calc(calc(100% / 8 - 20px) * 7 + 20px * (7 - 1));
  }
  .is-tablet-offset-7 {
    margin-left: calc(calc(100% / 8 - 20px) * 7 + 20px * (7 - 1) + (20px + 10px));
  }
  .is-nesting .is-tablet-offset-7:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 7 + 20px * (7 - 1) + (20px + 10px)) - 10px);
  }
  .is-tablet-8 {
    width: calc(calc(100% / 8 - 20px) * 8 + 20px * (8 - 1));
  }
  .is-tablet-offset-8 {
    margin-left: calc(calc(100% / 8 - 20px) * 8 + 20px * (8 - 1) + (20px + 10px));
  }
  .is-nesting .is-tablet-offset-8:first-child {
    margin-left: calc(calc(calc(100% / 8 - 20px) * 8 + 20px * (8 - 1) + (20px + 10px)) - 10px);
  }
}

@media screen and (min-width: 721px) {
  .container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .is-desktop-1 {
    width: calc(calc(1024px / 12 - 20px) * 1 + 20px * (1 - 1));
  }
  .is-desktop-offset-1 {
    margin-left: calc(calc(1024px / 12 - 20px) * 1 + 20px * (1 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-1:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 1 + 20px * (1 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-2 {
    width: calc(calc(1024px / 12 - 20px) * 2 + 20px * (2 - 1));
  }
  .is-desktop-offset-2 {
    margin-left: calc(calc(1024px / 12 - 20px) * 2 + 20px * (2 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-2:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 2 + 20px * (2 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-3 {
    width: calc(calc(1024px / 12 - 20px) * 3 + 20px * (3 - 1));
  }
  .is-desktop-offset-3 {
    margin-left: calc(calc(1024px / 12 - 20px) * 3 + 20px * (3 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-3:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 3 + 20px * (3 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-4 {
    width: calc(calc(1024px / 12 - 20px) * 4 + 20px * (4 - 1));
  }
  .is-desktop-offset-4 {
    margin-left: calc(calc(1024px / 12 - 20px) * 4 + 20px * (4 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-4:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 4 + 20px * (4 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-5 {
    width: calc(calc(1024px / 12 - 20px) * 5 + 20px * (5 - 1));
  }
  .is-desktop-offset-5 {
    margin-left: calc(calc(1024px / 12 - 20px) * 5 + 20px * (5 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-5:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 5 + 20px * (5 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-6 {
    width: calc(calc(1024px / 12 - 20px) * 6 + 20px * (6 - 1));
  }
  .is-desktop-offset-6 {
    margin-left: calc(calc(1024px / 12 - 20px) * 6 + 20px * (6 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-6:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 6 + 20px * (6 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-7 {
    width: calc(calc(1024px / 12 - 20px) * 7 + 20px * (7 - 1));
  }
  .is-desktop-offset-7 {
    margin-left: calc(calc(1024px / 12 - 20px) * 7 + 20px * (7 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-7:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 7 + 20px * (7 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-8 {
    width: calc(calc(1024px / 12 - 20px) * 8 + 20px * (8 - 1));
  }
  .is-desktop-offset-8 {
    margin-left: calc(calc(1024px / 12 - 20px) * 8 + 20px * (8 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-8:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 8 + 20px * (8 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-9 {
    width: calc(calc(1024px / 12 - 20px) * 9 + 20px * (9 - 1));
  }
  .is-desktop-offset-9 {
    margin-left: calc(calc(1024px / 12 - 20px) * 9 + 20px * (9 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-9:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 9 + 20px * (9 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-10 {
    width: calc(calc(1024px / 12 - 20px) * 10 + 20px * (10 - 1));
  }
  .is-desktop-offset-10 {
    margin-left: calc(calc(1024px / 12 - 20px) * 10 + 20px * (10 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-10:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 10 + 20px * (10 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-11 {
    width: calc(calc(1024px / 12 - 20px) * 11 + 20px * (11 - 1));
  }
  .is-desktop-offset-11 {
    margin-left: calc(calc(1024px / 12 - 20px) * 11 + 20px * (11 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-11:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 11 + 20px * (11 - 1) + (20px + 10px)) - 10px);
  }
  .is-desktop-12 {
    width: calc(calc(1024px / 12 - 20px) * 12 + 20px * (12 - 1));
  }
  .is-desktop-offset-12 {
    margin-left: calc(calc(1024px / 12 - 20px) * 12 + 20px * (12 - 1) + (20px + 10px));
  }
  .is-nesting .is-desktop-offset-12:first-child {
    margin-left: calc(calc(calc(1024px / 12 - 20px) * 12 + 20px * (12 - 1) + (20px + 10px)) - 10px);
  }
}

.wrapper {
  background: url("../images/hero_bg.jpg"), #1b1b1b;
  background-size: 100% auto, cover;
  background-repeat: no-repeat, repeat;
}

.header-inner {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #ddd;
  width: 310px;
  margin: 0 auto;
}

.header-inner .logo_img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 0;
  padding-top: 30px;
  overflow: hidden;
  background: url("../images/halide_logo_1x.png") no-repeat;
  background-size: cover;
}

.header-inner .title {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #fff;
}

.get-it-btn {
  background: #ff0;
  position: absolute;
  box-sizing: border-box;
  height: 32px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 5px 12px 5px 24px;
  border-radius: 5px;
}

.get-it-btn .arrow-box {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  border-radius: 3px;
  background: #000;
}

.get-it-btn .arrow-box .fa-arrow-down {
  padding: 5px 1px;
  color: #ff0;
  font-size: 10px;
}
