.wrapper {
    background: url('../images/hero_bg.jpg'), rgb(27, 27, 27) ;
    background-repeat: no-repeat, repeat;
    background-size: 100% auto, cover;
}
//header
.header-inner {
    height       : $column-height * 2;
    position     : relative;
    border-bottom: 1px solid #ddd;
    width        : 310px;
    margin       : 0 auto;
    .logo_img{
        // display: block;
        position       : absolute;
        top            : 50%;
        left           : 0;
        transform      : translateY(-50%);
        width          : 30px;
        height         : 0;
        padding-top    : 30px;
        overflow       : hidden;
        background     : url("../images/halide_logo_1x.png") no-repeat;
        background-size: cover;
    }
    
    .title {
        position      : absolute;
        margin        : 0;
        top           : 50%;
        left          : 40px;
        transform     : translateY(-50%);
        font-family   : 'Nunito', sans-serif;
        font-weight   : bold;
        font-size     : 2rem;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color         : #fff;
    }
    
}
.get-it-btn {
    background   : #ff0;
    position     : absolute;
    box-sizing   : border-box;
    height       : 32px;
    top          : 50%;
    right        : 0;
    transform    : translateY(-50%);
    padding      : 5px 12px 5px 24px;
    border-radius: 5px;
    .arrow-box {
        position　   : absolute;
        top          : 50%;
        left         : 5px;
        transform    : translateY(-50%);
        border-radius: 3px;
        background   : #000; 
        .fa-arrow-down{
            padding  : 5px 1px;
            color    : #ff0;
            font-size: 10px;
        }
    }
}
