@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?65324102');
  src: url('font/fontello.eot?65324102#iefix') format('embedded-opentype'),
       url('font/fontello.woff2?65324102') format('woff2'),
       url('font/fontello.woff?65324102') format('woff'),
       url('font/fontello.ttf?65324102') format('truetype'),
       url('font/fontello.svg?65324102#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}