.main{
    box-sizing: border-box;
    max-width: 1025px;
    margin: 50px auto 0 auto;
    $padding-map: (mobile: 20, tablet: 20, desktop: 40);

    @each $device, $padding-value in $padding-map{
        @include content-column($device){
            padding: 0 $padding-value + px;       
        }
    }
}
.container{
    
    .col{
        .responsive-svg{
            max-width: 100%;
            height: auto;
        }
        .responsive-object{
            width: 100%;
            height: auto;
            vertical-align: top;
        }
    }   
    
    .skin-img2{
        display: none;
         @include content-column(desktop){
            display: inline;
        }
    }
   
}