%a11y-hidden{
    overflow: hidden; 
    position: absolute; 
    clip: rect(0 0 0 0); /* IE 6,7 */ 
    clip: rect(0,0,0,0); 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0;
}

%responsive-object {
    width: 100%;
    height: auto;
}

%heading-property {
    color: #333;
    margin-top: $baseline-height;
    margin-bottom: $baseline-height;
    font-size: 2.1rem;
    height: $baseline-height;
    line-height: 1;
}