html, body {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

/**
 *
 * header variable settings
 *
 */
/*! grid.css @ 2017, yamoo9.net */
/**
 *
 * header variable settings
 *
 */
.show-grid {
  position: relative;
}

.show-grid::before,
.show-grid::after {
  content: '';
  position: absolute;
  top: 0;
  height: 1000vh;
}

.show-grid::before {
  z-index: 10000;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, transparent 20px, #0cf 20px);
  background-size: 1px 21px;
}

.show-grid::after {
  left: 50%;
  transform: translateX(-50%);
  z-index: 10010;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

.row.is-nesting > :first-child {
  margin-left: 0;
}

.row.is-nesting > :last-child {
  margin-right: 0;
}

.col {
  float: left;
}

@media screen and (max-width: 469px) {
  .container {
    width: 100%;
  }
  .col {
    margin-left: 10px;
    margin-right: 10px;
  }
  .show-grid::after {
    width: 100%;
    background: linear-gradient(90deg, transparent 10px, rgba(251, 137, 137, 0.35) 10px, rgba(251, 137, 137, 0.35) calc(calc((100% - 6.66667px * 4) / 4) + 6.66667px));
    background-size: calc(calc((100% - 6.66667px * 4) / 4) + 6.66667px) 1px;
  }
  .is-1 {
    width: calc(calc((100% - 6.66667px * 4) / 4) * 1 + 6.66667px * (1 - 1));
  }
  .is-offset-1 {
    margin-left: calc(calc(calc((100% - 6.66667px * 4) / 4) * 1 + 6.66667px * (1 - 1)) + (6.66667px + 10px));
  }
  .is-nesting .is-offset-1:first-child {
    margin-left: calc(calc(calc((100% - 6.66667px * 4) / 4) * 1 + 6.66667px * (1 - 1)) + (6.66667px + 10px))-10px;
  }
  .is-2 {
    width: calc(calc((100% - 6.66667px * 4) / 4) * 2 + 6.66667px * (2 - 1));
  }
  .is-offset-2 {
    margin-left: calc(calc(calc((100% - 6.66667px * 4) / 4) * 2 + 6.66667px * (2 - 1)) + (6.66667px + 10px));
  }
  .is-nesting .is-offset-2:first-child {
    margin-left: calc(calc(calc((100% - 6.66667px * 4) / 4) * 2 + 6.66667px * (2 - 1)) + (6.66667px + 10px))-10px;
  }
  .is-3 {
    width: calc(calc((100% - 6.66667px * 4) / 4) * 3 + 6.66667px * (3 - 1));
  }
  .is-offset-3 {
    margin-left: calc(calc(calc((100% - 6.66667px * 4) / 4) * 3 + 6.66667px * (3 - 1)) + (6.66667px + 10px));
  }
  .is-nesting .is-offset-3:first-child {
    margin-left: calc(calc(calc((100% - 6.66667px * 4) / 4) * 3 + 6.66667px * (3 - 1)) + (6.66667px + 10px))-10px;
  }
  .is-4 {
    width: calc(calc((100% - 6.66667px * 4) / 4) * 4 + 6.66667px * (4 - 1));
  }
  .is-offset-4 {
    margin-left: calc(calc(calc((100% - 6.66667px * 4) / 4) * 4 + 6.66667px * (4 - 1)) + (6.66667px + 10px));
  }
  .is-nesting .is-offset-4:first-child {
    margin-left: calc(calc(calc((100% - 6.66667px * 4) / 4) * 4 + 6.66667px * (4 - 1)) + (6.66667px + 10px))-10px;
  }
}

@media screen and (min-width: 470px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
  .col {
    margin-left: 10px;
    margin-right: 10px;
  }
  .show-grid::after {
    width: 100%;
    background: linear-gradient(90deg, transparent 10px, rgba(251, 137, 137, 0.35) 10px, rgba(251, 137, 137, 0.35) calc(calc(100% / 8 - 13.33333px) + 13.33333px));
    background-size: calc(calc(100% / 8 - 13.33333px) + 13.33333px) 1px;
  }
  .is-1 {
    width: calc(calc(100% / 8 - 13.33333px) * 1 + 13.33333px * (1 - 1));
  }
  .is-offset-1 {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 1 + 13.33333px * (1 - 1)) + (13.33333px + 10px));
  }
  .is-nesting .is-offset-1:first-child {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 1 + 13.33333px * (1 - 1)) + (13.33333px + 10px))-10px;
  }
  .is-2 {
    width: calc(calc(100% / 8 - 13.33333px) * 2 + 13.33333px * (2 - 1));
  }
  .is-offset-2 {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 2 + 13.33333px * (2 - 1)) + (13.33333px + 10px));
  }
  .is-nesting .is-offset-2:first-child {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 2 + 13.33333px * (2 - 1)) + (13.33333px + 10px))-10px;
  }
  .is-3 {
    width: calc(calc(100% / 8 - 13.33333px) * 3 + 13.33333px * (3 - 1));
  }
  .is-offset-3 {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 3 + 13.33333px * (3 - 1)) + (13.33333px + 10px));
  }
  .is-nesting .is-offset-3:first-child {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 3 + 13.33333px * (3 - 1)) + (13.33333px + 10px))-10px;
  }
  .is-4 {
    width: calc(calc(100% / 8 - 13.33333px) * 4 + 13.33333px * (4 - 1));
  }
  .is-offset-4 {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 4 + 13.33333px * (4 - 1)) + (13.33333px + 10px));
  }
  .is-nesting .is-offset-4:first-child {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 4 + 13.33333px * (4 - 1)) + (13.33333px + 10px))-10px;
  }
  .is-5 {
    width: calc(calc(100% / 8 - 13.33333px) * 5 + 13.33333px * (5 - 1));
  }
  .is-offset-5 {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 5 + 13.33333px * (5 - 1)) + (13.33333px + 10px));
  }
  .is-nesting .is-offset-5:first-child {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 5 + 13.33333px * (5 - 1)) + (13.33333px + 10px))-10px;
  }
  .is-6 {
    width: calc(calc(100% / 8 - 13.33333px) * 6 + 13.33333px * (6 - 1));
  }
  .is-offset-6 {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 6 + 13.33333px * (6 - 1)) + (13.33333px + 10px));
  }
  .is-nesting .is-offset-6:first-child {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 6 + 13.33333px * (6 - 1)) + (13.33333px + 10px))-10px;
  }
  .is-7 {
    width: calc(calc(100% / 8 - 13.33333px) * 7 + 13.33333px * (7 - 1));
  }
  .is-offset-7 {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 7 + 13.33333px * (7 - 1)) + (13.33333px + 10px));
  }
  .is-nesting .is-offset-7:first-child {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 7 + 13.33333px * (7 - 1)) + (13.33333px + 10px))-10px;
  }
  .is-8 {
    width: calc(calc(100% / 8 - 13.33333px) * 8 + 13.33333px * (8 - 1));
  }
  .is-offset-8 {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 8 + 13.33333px * (8 - 1)) + (13.33333px + 10px));
  }
  .is-nesting .is-offset-8:first-child {
    margin-left: calc(calc(calc(100% / 8 - 13.33333px) * 8 + 13.33333px * (8 - 1)) + (13.33333px + 10px))-10px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .col {
    margin-left: 10px;
    margin-right: 10px;
  }
  .show-grid::after {
    width: 1200px;
    background: linear-gradient(90deg, transparent 10px, rgba(251, 137, 137, 0.35) 10px, rgba(251, 137, 137, 0.35) 100px, transparent 100px);
    background-size: 100px 1px;
  }
  .is-1 {
    width: 80px;
  }
  .is-offset-1 {
    margin-left: calc(80px + (20px + 10px));
  }
  .is-nesting .is-offset-1:first-child {
    margin-left: calc(80px + (20px + 10px))-10px;
  }
  .is-2 {
    width: 180px;
  }
  .is-offset-2 {
    margin-left: calc(180px + (20px + 10px));
  }
  .is-nesting .is-offset-2:first-child {
    margin-left: calc(180px + (20px + 10px))-10px;
  }
  .is-3 {
    width: 280px;
  }
  .is-offset-3 {
    margin-left: calc(280px + (20px + 10px));
  }
  .is-nesting .is-offset-3:first-child {
    margin-left: calc(280px + (20px + 10px))-10px;
  }
  .is-4 {
    width: 380px;
  }
  .is-offset-4 {
    margin-left: calc(380px + (20px + 10px));
  }
  .is-nesting .is-offset-4:first-child {
    margin-left: calc(380px + (20px + 10px))-10px;
  }
  .is-5 {
    width: 480px;
  }
  .is-offset-5 {
    margin-left: calc(480px + (20px + 10px));
  }
  .is-nesting .is-offset-5:first-child {
    margin-left: calc(480px + (20px + 10px))-10px;
  }
  .is-6 {
    width: 580px;
  }
  .is-offset-6 {
    margin-left: calc(580px + (20px + 10px));
  }
  .is-nesting .is-offset-6:first-child {
    margin-left: calc(580px + (20px + 10px))-10px;
  }
  .is-7 {
    width: 680px;
  }
  .is-offset-7 {
    margin-left: calc(680px + (20px + 10px));
  }
  .is-nesting .is-offset-7:first-child {
    margin-left: calc(680px + (20px + 10px))-10px;
  }
  .is-8 {
    width: 780px;
  }
  .is-offset-8 {
    margin-left: calc(780px + (20px + 10px));
  }
  .is-nesting .is-offset-8:first-child {
    margin-left: calc(780px + (20px + 10px))-10px;
  }
  .is-9 {
    width: 880px;
  }
  .is-offset-9 {
    margin-left: calc(880px + (20px + 10px));
  }
  .is-nesting .is-offset-9:first-child {
    margin-left: calc(880px + (20px + 10px))-10px;
  }
  .is-10 {
    width: 980px;
  }
  .is-offset-10 {
    margin-left: calc(980px + (20px + 10px));
  }
  .is-nesting .is-offset-10:first-child {
    margin-left: calc(980px + (20px + 10px))-10px;
  }
  .is-11 {
    width: 1080px;
  }
  .is-offset-11 {
    margin-left: calc(1080px + (20px + 10px));
  }
  .is-nesting .is-offset-11:first-child {
    margin-left: calc(1080px + (20px + 10px))-10px;
  }
  .is-12 {
    width: 1180px;
  }
  .is-offset-12 {
    margin-left: calc(1180px + (20px + 10px));
  }
  .is-nesting .is-offset-12:first-child {
    margin-left: calc(1180px + (20px + 10px))-10px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */